@keyframes shake {
  0% { transform: rotate(0); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(-5deg); }
  75% { transform: rotate(3deg); }
  100% { transform: rotate(0); }
}

body {
  margin: 0;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;

  &__magic-ball-container {
    width: 15rem;
    padding: 1.25rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2);
  }

  &__fortune-teller {
    border-radius: 1.25rem;
    height: auto;
    width: 15rem;
    margin-bottom: 1rem;
    transition: transform 0.5s ease-in-out; /* Smooth transition for the shake effect */
  }

  &__fortune-teller.shake {
    animation: shake 0.5s ease-in-out;
  }

  &__input, .App__button {
    padding: .625rem;
    margin: .313rem;
    border-radius: .313rem;
    border: .063rem solid #007bff;
  }
  
  &__input {
    width: calc(100% - 1.5rem);
  }
  
  &__button {
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
  }
  
  &__answer {
    margin-top: 1.25rem;
    color: #333;
    font-weight: bold;
  }

  &__title {
    color: #007bff;
  }
}
